
<template>
  <v-container>
    <div class="d-flex align-center flex-column">
      <v-responsive>
        <v-img height="200" src="@/assets/gps-logo.jpeg" />
        <div class="text-body-2 font-weight-light mb-n1">Welcome to</div>
        <h1 class="text-h4 font-weight-bold">GPS Position</h1>
        <div class="py-14" />  
      </v-responsive>
      <v-row>
        <v-col>
          <v-card class="tableau">
            <v-data-table
              :headers="headerstabs"
              :items="positions"
              :items-per-page="5"
              :sort-by="[{ key: 'name', order: 'asc' }]"
              :items-per-page-options="[{value: 5, title: '5'}, {value: 10, title: '10'}, {value: 15, title: '15'}, {value: -1, title: '$vuetify.dataFooter.itemsPerPageAll'}]"
              class="elevation-1"
            >
              <template v-slot:top>
                <v-toolbar
                  flat
                >
                  <v-toolbar-title>Positions</v-toolbar-title>
                  <v-divider
                    class="mx-2"
                    inset
                    vertical
                  ></v-divider>
                  <v-spacer></v-spacer>
                  <v-dialog
                    v-model="dialog"
                    max-width="500px"
                  >
                    <template v-slot:activator="{ props }">
                      <v-btn
                        color="primary"
                        dark
                        class="mb-2"
                        v-bind="props"
                      >
                        Add position
                      </v-btn>
                    </template>
                    <v-card>
                      <v-card-title>
                        <span class="text-h5">{{ formTitle }}</span>
                      </v-card-title>

                      <v-card-text>
                        <v-container>
                          <v-row>
                            <v-col
                              cols="12"
                              sm="6"
                              md="4"
                            >
                              <v-text-field
                                v-model="editedItem.name"
                                label="Name"
                              ></v-text-field>
                            </v-col>
                            <v-col
                              cols="12"
                              sm="6"
                              md="4"
                            >
                              <v-text-field
                                v-model="editedItem.longitude"
                                label="Longitude"
                              ></v-text-field>
                            </v-col>
                            <v-col
                              cols="12"
                              sm="6"
                              md="4"
                            >
                              <v-text-field
                                v-model="editedItem.latitude"
                                label="Latitude"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                        </v-container>
                      </v-card-text>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          color="blue-darken-1"
                          variant="text"
                          @click="close"
                        >
                          Cancel
                        </v-btn>
                        <v-btn
                          color="blue-darken-1"
                          variant="text"
                          @click="save"
                        >
                          Save
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-dialog v-model="dialogDelete" max-width="500px">
                    <v-card>
                      <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                        <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                        <v-spacer></v-spacer>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-toolbar>
              </template>
              <template v-slot:item.actions="{ item }">
                <v-icon
                  size="small"
                  @click="deleteItem(item.raw)"
                >
                  mdi-delete
                </v-icon>
              </template>
            </v-data-table>
          </v-card>
        </v-col>
        <v-col>
          <v-card>
            <v-card-text>
              <div>Check if less than 10 km !</div>
            </v-card-text>
            <v-autocomplete
              label="Position 1"
              v-model="positionOne"
              :items="positions.map(dessert => dessert.name)"
            ></v-autocomplete>
            <v-autocomplete
              label="Position 2"
              v-model="positionTwo"
              :items="positions.map(dessert => dessert.name)"
            ></v-autocomplete>
            <v-card-actions>
              <v-btn
                :disabled="!(positionOne !== '' && positionTwo !== '')"
                color="primary"
                @click="checkTenKm()"
              >
                Check
              </v-btn>
            </v-card-actions>
            <v-alert
              :type="errorOrSuccess()"
              :text='"" + checkValue'
            >
            </v-alert>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-container>
    
</template>

<script>
  import axios from 'axios';

  export default {
    data: () => ({
      dialog: false,
      dialogDelete: false,
      headerstabs: [
        { title: 'Position Name',key: 'name', align: 'start'},
        { title: 'Longitude', key: 'longitude' },
        { title: 'Latitude', key: 'latitude' },
        { title: 'Actions', key: 'actions', sortable: false },
      ],
      positions: [],
      editedIndex: -1,
      editedItem: {
        name: '',
        longitude: 0,
        latitude: 0
      },
      defaultItem: {
        name: '',
        longitude: 0,
        latitude: 0
      },
      positionOne: '',
      positionTwo: '',
      checkValue: false
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Localisation' : 'Edit Item'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        axios.get("http://localhost:8086/api/v1/positions").then(response => {
          this.positions = response.data;
          console.log(response.data)
        })
        .catch(error => {
          console.error('Error fetching data:', error);
        });
      },

      deleteItem (item) {
        this.editedIndex = this.positions.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.positions.splice(this.editedIndex, 1)
        axios.delete(`http://localhost:8086/api/v1/positions/${this.editedItem.positionId}`)
          .then(response => {
            console.log('DELETE successful:', response);
          })
          .catch(error => {
            console.error('Error deleting item:', error);
          });
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.positions.map(d => d.name).includes(this.editedItem.name) !== true) {
          this.positions.push(this.editedItem)
          axios.post('http://localhost:8086/api/v1/positions', this.editedItem)
          .then(response => {
            console.log('POST successful:', response);
          })
          .catch(error => {
            console.error('Error posting data:', error);
          });
        }
        this.close()
      },

      checkTenKm (){

        var idOne = this.positions.find(p => p.name === this.positionOne).positionId
        var idTwo = this.positions.find(p => p.name === this.positionTwo).positionId

        axios.post(`http://localhost:8086/api/v1/positions/distances?positionOneId=${idOne}&positionTwoId=${idTwo}`).then(response => {
          this.checkValue = response.data;
        })
        .catch(error => {
          console.error('Error fetching items:', error);
        });
      },

      errorOrSuccess() {
        if(this.checkValue) {
          return "success"
        } else {
          return "error"
        }
      }
    },
  }
</script>

<style>
  .tableau{
    max-width: fit-content;
    justify-content: center;
  }
</style>
